{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="css/custom.css">
{% endblock %}

{% block title_box %}
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ABOUT US</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item active">ABOUT US</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="{% static 'images/about-img.jpg' %}" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">We are <span>Fun Flowers</span></h2>
                    <p>Welcome to Fun Flowers, your haven for delightful blooms and heartfelt moments. At Fun Flowers, we're not just an online shop; we're storytellers in the language of petals. Our curated collection is a vibrant celebration of nature's beauty, meticulously crafted to convey your emotions, whether it's expressing love, offering condolences, or brightening someone's day.</p>
                    <p>Behind every bouquet is a team of dedicated floral artisans committed to quality. With care and precision, we handpick and arrange each arrangement, ensuring a masterpiece of color, fragrance, and freshness. Join us in this floral journey where every click unfolds into a kaleidoscope of emotions. Fun Flowers is more than a shop; it's your partner in creating memorable moments through the enchanting world of flowers.</p>
					<a class="btn hvr-hover" href="#">Read More</a>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Trusted</h3>
                        <p>Join our community of satisfied customers who trust Fun Flowers for premium quality and exceptional service.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Professional</h3>
                        <p>With a team of skilled floral artisans, Fun Flowers ensures professional precision in every handcrafted bouquet.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Expert</h3>
                        <p>With a legacy of floral expertise, Fun Flowers crafts each arrangement with precision, making every delivery a masterpiece.</p>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <h2 class="noo-sh-title">Meet Our Team</h2>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static 'images/img-1.jpg' %}" alt="" />
                            <div class="team-content">
                                <h3 class="title">Maximilian</h3> <span class="post">Founder, CEO</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Founder and CEO, combines visionary leadership with a deep understanding of technology and business. His passion for innovation drives the company's direction, ensuring it stays at the forefront of industry advancements. His strategic approach fosters a culture of excellence and growth.</p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static 'images/img-2.jpg' %}" alt="" />
                            <div class="team-content">
                                <h3 class="title">Marianna</h3> <span class="post">Web Developer</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Passionate web developer with a flair for creating innovative and user-friendly digital experiences. Her expertise in modern web technologies has contributed significantly to several high-profile projects. Marianna's dedication to continuous learning keeps her skills sharp and relevant.</p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static 'images/img-3.jpg' %}" alt="" />
                            <div class="team-content">
                                <h3 class="title">Alexandro</h3> <span class="post">Product Manager</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Our creative Product Manager, combines strategic vision with a keen eye for detail. With a background in both tech and business, he expertly steers product development, ensuring alignment with customer needs and market trends. His leadership fosters innovation and team synergy.</p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src="{% static 'images/img-4.jpg' %}" alt="" />
                            <div class="team-content">
                                <h3 class="title">Nicolas</h3> <span class="post">Social Media</span> </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Social media guru with a flair for engaging content and innovative strategies. His expertise spans various platforms, where he excels in building vibrant communities and enhancing brand visibility. Nicolas' creative approach and analytical skills make him a valuable asset to our team.</p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
